.card{
  cursor:pointer;
}
.form-control{
  z-index: 0 !important;
}

.add-event-toogle{
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.add-event-toogle span{
  margin-left:8px;
  margin-right:8px;
}

.form-row{
  margin-bottom:8px;
}

.input-group-addon{
  width:150px;
}

/**
 * The geosuggest module
 */
.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  width: 50%;
  text-align: left;
}
.geosuggest__input {
  width: 100%;
  border:none;
}

.geosuggest__input:focus {
  border:none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid #267dc0;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest__item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5;
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}

/*
* calendar
*/
.Cal__Container__root{
  width:100% !important;
  z-index: 1 !important;
}

.Cal__Header__root{
  height:50px !important;
  min-height: 0 !important;
}

.Cal__Header__year{
  font-size: 16px !important;
  display: inline-block !important;
}
.Cal__Header__day{
  font-size: 16px !important;
  line-height: 20px !important;
  height: 20px !important;
  display: inline-block !important;
}

.Cal__Weekdays__day{
  padding:6px 0 !important;
}

.Cal__Day__root{
  font-size: 14px !important;
}

.slider{
  z-index:100;
}

.add-event-container{
  margin-top:24px;
}

.add-event-container h1{
  font-size: 22px;
  margin-left:32px;
  padding-top:6px;
}

.input-rating-label{
  font-size:18px;
  margin-right:16px;
  padding-top:3px;
}

.rating-input-group{
  margin-left:auto;
  margin-right:auto;
}

.add-event-left-container{
  padding-left:32px;
}

.add-event-right-container{
  padding-right:32px;
}

.input-group-addon{
  background-color:#47D2C3;
  color:white;
}

.add-event-rating-container{
  text-align: center;
  margin-bottom:16px;
  font-size:24px;
  color:#FFB62F
}

.add-event-rating{
  margin-left:auto;
  margin-right:auto;
  position: relative;
}


/*
CREATE BUTTON
*/
.btn-create-event:before {
  font-family: 'entypo', sans-serif;
  color: white;
  position: absolute;
  right: 40px;
  font-size: 14px;
  top: 25%;
  z-index: 10;
}

.btn-create-event {
  border: none;
  outline: none;
  background-color: #24C5B4;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  width: 120px;
  max-width: 500px;
  position: relative;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
  text-align: left;
  padding: 8px 16px;
}

.btn-create-event:hover {
  cursor: pointer;
}
.btn-create-event:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  width: 20%;
  opacity:0.4;
  background-color: #74E1D5;
  transition: width 0.7s;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.btn-create-event:hover:after {
  transition: width 0.7s;
  width: 50px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .btn-create-event:hover:after {
    width: 120px;
  }
}
