.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html,body,#root{
  height:100% !important;
  background-color: #f6f6f6;
}

.container{
  width:100% !important;
  height: 100% !important;
  padding: 0 !important;
  top:58px;
}

.default-margins{
  margin: 8px 16px 8px 16px;
}

.nav-link{
  white-space: nowrap;
}
