

.navbar-avatar{
  margin-right:8px;
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;

  background-color:#24c5b2 !important;
  -webkit-box-shadow: 0 2px 6px 0 #999;
  -moz-box-shadow: 0 2px 6px 0 #999;
  box-shadow: 0 2px 6px 0 #999;
}

.navbar-inverse .navbar-nav .nav-link{
  color:rgba(255, 255, 255, 0.8);
}

.navbar-inverse .navbar-nav .nav-link:hover{
  color:rgba(255, 255, 255, 0.9);
}

.dropdown-item .nav-link{
  color:rgba(136, 136, 136, 0.8) !important;
}

.dropdown-item .nav-link:hover{
  color:rgba(136, 136, 136, 0.9) !important;  
}
